/*SPOSTAMI*/
.centered {
    display: flex;
    align-items: center;
}
.normal {
    text-decoration: none;
}





.purchase-button {
    position: fixed;
    top: 110px;
    left: 50%;
    margin: 0;
    width: 90%;
    height: 50px;
    transform: translate(-50%, 0%);
    background-color: var(--buttons);
    border-radius: 12px;
    box-shadow: 3px 8px 11px 1px var(--shadow);
    z-index: 1;
    text-align: center;
}
.purchase-button > p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -25%);
    margin: 0;
}
.purchase-button:hover {
    background-color: var(--lightButtons);
}



.cartback {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 2% 2% 8% 2%;
    background: linear-gradient(
      180deg,
      rgba(182, 157, 224, 0.02) 0%,
      #ffffff 0.48%
    );
    color: var(--lightSecondary);
    box-shadow: 0px 8px 6px 2px rgba(0, 0, 0, 0.25);
    border: 8px solid transparent;
    background-clip: padding-box;
    border-radius: 33px;
    border-width: 11px;
  }



.m-t-200 {
    margin-top: 30px;
}

.product-list {
    margin-bottom: 15px;
    padding: 0;
    list-style-type: none;
    display: block;
}

.product-container {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}
.product {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    background-color: white;
    box-sizing: border-box;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;

}
.product-image {
    float: left;
    height: 150px;
    width: 150px;
    max-height: 98%;
    margin-right: 5px;
    padding-left: 2px;
    border-radius: 15px;
}
.product-name {
    color: black;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.span-cart {
    margin: 3px 0px 3px 0px;
}
.stars {
    position: absolute;
    height: 14px;
    left: 160px;
    display: inline-block;
    margin: 0px;
}
.star {
    height: 100%;
    width: auto\9;
    margin: 0;
}
.price-section {
    position: relative;
    margin: 40px 0px 0px 0px;
}
.valuta {
    position: absolute;
    margin: 0;
    left: 160px;
    color: var(--buttons);

}
.price {
    position: absolute;
    left: 175px;
    font-weight: bold;
    color: var(--buttons);
    margin: 0;
}

/*da fixare anche la lunghezza massima del nome del prodotto*/

.remove-button {
    position: absolute;
    left: 160px;
    bottom: 20px;
    height: 30px;
    width: 20%;
    margin: 0;
    max-width: 100px;
    color: black;
    background-color: var(--buttons);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.remove-button > p {
    width: 100%;
    font-size: clamp(14px, 4vw, 18px);
    font-weight: 300;
} 
.quantity-button {
    position: absolute;
    right: 5px;
    bottom: 15px;
    height: 40px;
    width: 20%;
    margin: 0;
    max-width: 100px;
    font-weight: 300;
    background-color: var(--buttons);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: black;
}
.qty {
    position: absolute;
    float: left;
    width: 70%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 0;
}  
.quantity.buttons_added {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: left;
    vertical-align: top;
}
.minus {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 30%;
    background-color: var(--lightButtons);
    border: none;
    cursor: pointer;
    border-radius: 0px 0px 5px 0px;
    border-top: solid 1px var(--buttons);
}
.plus {
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 30%;
    background-color: var(--lightButtons);
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 0px 0px;
    border-bottom: solid 1px var(--buttons);
    font-size: 10px;
}   