.buy-button {
    position: fixed;
    width: 90%;
    height: 40px;
    top: 130px;
    /*left: 50%;
    transform: translate(-50%, -50%);*/
    /*left: 50%;
    transform: translateX(-50%);*/

    z-index: 1;


    transition: transform .2s;
    background-color: var(--buttons);
    border-radius: 12px;
    box-shadow: 3px 8px 11px 1px var(--shadow);
    text-decoration: none;
}
.buy-button > div {
    display: flex;
    align-items: center;
    text-align: center;
}
.buy-button > div > p {
    top: 50%;
    transform: translate(0%, -50%);
    align-items: center;
    flex-grow: 1;
}
.buy-button:hover {
    transform: scale(1.1);
}


.centered {
    display: flex;
    align-items: center;
}






/*THE FOOTER NEEDS TO BE UPDATED*/

.normal {
    text-decoration: none;
    /* text-align: center; */
}
.purchase-button {
    position: fixed;
    text-align: center;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    height: 50px;
    background-color: var(--buttons);
    border-radius: 12px;
    box-shadow: 3px 8px 11px 1px var(--shadow);
    z-index: 2;
}






 /*CONSIDERARE L'USO DI DISPLAY TABLE, DA CAPIRE*/
/* .product-container {
    display: inline-block;
    border: 1px solid #BE9CF5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: auto;
    text-align: left;
    background-color: white;
    width: 95%;
}
.product-image {
    padding-top: 5%;
    float: left;
    width: 45%;
    height: auto\9;
}
.product-info {
    float: right;
    text-align: right;
    margin-right: 20px;
    margin-top: 0px;
}
.product-name {
    font-size: 30px;

}
.stars {
    width: 100%;
    text-align: left;
    height: auto\9;

}
.price-section {
    display: inline-block;
    float: left;
}
.valuta {
    float: left;
}
.price {
    float: left;
}
.buttons {
    display: inline-block;
}
.remove-button {
    float: left;
    text-align: center;
    background-color: var(--buttons);
    width: min-content;
    height: 20px;    
}
.quantity-button {
    float: right;
} */

.centered-div {
    margin: 0;
    width: 100%;
    text-align: center;

}

.product-list {
    /*controllami*/
    margin-top: 170px;
    /* text-align: center; */
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    list-style-type: none;
    display: block;
}

.product-container {
    width: 100%;
   /* height: 15%;/*perchè ora non vai più?*/
    height: 500%;

}
.product {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;

}
.product-image {
    float: left;
    height: 100px;
    width: auto\9;
    max-height: 98%;
    margin-right: 5px;
}
.product-name {
    color: black;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}
.stars {
    height: 20px;
    width: 60%;
    display: inline-block;
    margin: 0;
}
.star {
    height: 100%;
    width: auto\9;
    margin: 0;
}
.price-section {
    position: relative;
    margin: 0;
    /* height: min-content; */
}
.valuta {
    position: absolute;
    margin: 0;
    left: 35%;
    color: var(--buttons);

}
.price {
    position: absolute;
    left: 40%;
    font-weight: bold;
    color: var(--buttons);
    margin: 0;
}
.remove-button {
    position: absolute;
    left: 35%;
    bottom: 10px;
    color: black;
    text-align: center;
    background-color: var(--buttons);
    border-radius: 5px;
    width: fit-content;
    height: 20px;  
    margin: 0;
}
.quantity-button {
    position: absolute;
    right: 15%;
    bottom: 10px;
    color: black;
    margin: 0;
}