  .normal {
    text-decoration: none;
  }
  main {
      margin-top: 75px;
  }

  .category {
    font-size: 22px;
    font-weight: bold;
  }
  .detail-items {
    font-size: 18px;
  }
  .total {
    font-size: 20px;
    font-weight: bold;
  }
  .total-price {
    color: var(--buttons);
    font-size: 20px;
    font-weight: bold;
  }

  .add-add {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    background-color: var(--buttons);
    color: var(--secondary);
    border: none;
    border-radius: 8px;
  }
  .add-name {
    font-weight: 600;
  }
  .address {
    font-size: 20px;
  }
  .consegna {
    color: var(--buttons);
    font-weight: bold;
  }
  .m-15 {
    margin: 15px;
  }
  .span-order {
    width: 80%;
    background-color: var(--primary);
    height: 1px;
  }
  .span-order-big {
    width: 100%;
    background-color: var(--primary);
    height: 2px;
  }
  .span-accordion {
    width: 98%;
    background-color: var(--primary);
    height: 2px;
    margin-bottom: 0;
  }
  .giftcard {
    height: 50px;
    width: 80%;
    border: none;
    border-radius: 8px;
    background-color: var(--primary);
  }
  .giftcard::placeholder {
    font-size: 18px;
    padding-left: 25px;
    color: var(--secondary);
  }
  .add-card {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    background-color: var(--buttons);
    color: var(--secondary);
    border: none;
    border-radius: 8px;
  }
  .insert-giftcard {
    height: 50px;
    font-size: 30px;
    text-align: center;
    width: 15%;
    border: none;
    border-radius: 8px;
    background-color: var(--primary);
  }

  .pls {
    padding: 10px 10px 10px 10px;
    width: 100%;
  }
  .labell {
    width: 100%;
  }
  .labell:hover {
    background: #e5d6ff;
    border-radius: 8px;
  }
  .ship-img-omni {
    width: 50px;
    height: auto;
  }

.numberPicker::-webkit-outer-spin-button,
.numberPicker::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberPicker[type=number] {
  -moz-appearance: textfield;
}