  .normal {
    text-decoration: none;
  }
  main {
      margin-top: 75px;
  }

  .category {
    font-size: 22px;
    font-weight: bold;
  }
  .detail-items {
    font-size: 18px;
  }
  .total {
    font-size: 20px;
    font-weight: bold;
  }
  .total-price {
    color: var(--buttons);
    font-size: 20px;
    font-weight: bold;
  }

  .add-add {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    background-color: var(--buttons);
    color: var(--secondary);
    border: none;
    border-radius: 8px;
  }
  .add-name {
    font-weight: 600;
  }
  .address {
    font-size: 20px;
  }
  .consegna {
    color: var(--buttons);
    font-weight: bold;
  }
  .m-15 {
    margin: 15px;
  }
  .span-order {
    width: 80%;
    background-color: var(--primary);
    height: 1px;
  }
  .span-order-big {
    width: 100%;
    background-color: var(--primary);
    height: 2px;
  }
  .span-accordion {
    width: 98%;
    background-color: var(--primary);
    height: 2px;
    margin-bottom: 0;
  }
  .giftcard {
    height: 50px;
    width: 80%;
    border: none;
    border-radius: 8px;
    background-color: var(--primary);
  }
  .giftcard::placeholder {
    font-size: 18px;
    padding-left: 25px;
    color: var(--secondary);
  }
  .add-card {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    background-color: var(--buttons);
    color: var(--secondary);
    border: none;
    border-radius: 8px;
  }
  .insert-giftcard {
    height: 50px;
    font-size: 30px;
    text-align: center;
    width: 15%;
    border: none;
    border-radius: 8px;
    background-color: var(--primary);
  }

  .pls {
    padding: 10px 10px 10px 0px;
    width: 100%;
  }

  .payments input[type="radio"]:checked+label {
    background: #e5d6ff;
    border-radius: 8px;
  }
  .payments input[type="radio"] {
    display: none;
  }
  .payments label {
    width: 80%;
    display: inline-block;
    background: rgba(229, 214, 255, 0.35);
    border-radius: 6px;
    padding: 4px 11px;
    cursor: pointer;
  }

  .radio-ship input[type="radio"]:checked+label {
    background: #e5d6ff;
    border-radius: 8px;
  }
  .radio-ship input[type="radio"] {
    display: none;
  }

  .radio-ship label {
    width: 80%;
    display: inline-block;
    background: rgba(229, 214, 255, 0.35);
    border-radius: 6px;
    padding: 4px 11px;
    cursor: pointer;
  }


  .radio-addr input[type="radio"]:checked+label {
    background: #e5d6ff;
    border-radius: 8px;
  }
  .radio-addr input[type="radio"] {
    display: none;
  }

  .radio-addr label {
    width: 80%;
    display: inline-block;
    border-radius: 6px;
    padding: 4px 11px;
    cursor: pointer;
  }


  .addressInputNew {
    color: var(--secondary);
    background: var(--traslucentPrimary);
    border-radius: 4px;
    width: 60%;
    height: 40px;
    border: 2px solid var(--traslucentPrimary);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    max-width: 500px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  
  .addressInputNew::placeholder {
    color: var(--primary);
  }
  
  .addressInputNew:focus {
    border: 2px solid var(--primary);
  }



  .ship-img-omni {
    width: 50px;
    height: auto;
  }