.winter-sales-a {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 850px;
    max-height: 850px;
    margin-top: 70px;
    
    background: conic-gradient(
      from -44.57deg at 131.07% 133.06%,
      rgba(255, 255, 255, 0.65) -37.74deg,
      #ffffff 22.02deg,
      rgba(255, 255, 255, 0.65) 322.26deg,
      #ffffff 382.02deg
    );
    box-shadow: 0px 4px 21px rgba(255, 255, 255, 0.25);
    border-radius: 64px;
  }
  
  .winter-img{
    position: absolute;
    height: 50%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 0%);
    width: auto;
  }

  .winter-sales-a > header > h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #be9cf5;
    text-shadow: 0px 4px 7px var(--shadow);
    padding-top: 10px;
  }
  
  .winter-sales-a > header > p {
    text-align: center;
    color: var(--primary);
    text-shadow: 0px 4px 11px var(--shadow);
  }
  
  .oni13-a {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 750px;
    background: linear-gradient(.25turn, var(--primary) 10%, white);
    box-shadow: 0px 8px 6px 2px var(--shadow);
    border-radius: 28px;
  }
  .left-sec {
    width: 60%;
    text-align: left;
  }
  .right-section {
    margin-right: 5px;
    width: 38%;
    text-align: right;
    height: 100%;
    margin-right: 2%;
    color: var(--lightSecondary);
  }
  .find-out-more {
    margin-top: 400px;
    text-align: right;
    width: 100%;
    height: 200px;
    color: var(--primary);
    border-radius: 30px;
    font-size: 30px;
    font-weight: 550;
  }
  .find-out-more > a {
    text-decoration: none;
    transition: 1s;
  }
  .find-out-more > a:hover {
    font-size: 40px;
    transition: 1s;
  }
  .footer-article {
    margin-top: 40px;
    font-weight: bold;
  }
  .oni13-a > section > h2 > span {
    font-size: 40px;
  }
  .Oni13-img {
    height: 750px;
    border-radius: 28px;
  }
  

  .omni-music-a {
    position: relative;
    height: 750px;
    width: 100%;
    margin-top: 10px;
    background: conic-gradient(
      from 120deg at 0% 0%,
      #e5d6ff 0deg,
      #fafafb 286.87deg,
      #ffffff 359.78deg,
      #e5d6ff 360deg
    );
    box-shadow: 0px 1px 23px 5px var(--shadow);
    border-radius: 29px 29px 0px 0px;
  }
  .omni-music-a > section {
    text-align: right;
    color: var(--lightSecondary);
  }
  .omni-music-a > section > h3 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .product-name {
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
    font-size: 35px;
  }
  .product-name:hover {
    font-size: 40px;
    transition: 1s;
  }
  .omni-music-img {
    height: 650px;
    margin-top: 100px;
  }
  

  .dreamx11-a {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: black;
    box-shadow: 0px -6px 9px 5px var(--shadow);
    color: white;
    filter: drop-shadow(0px 21px 12px var(--shadow));
  }
  .dreamx11-a > section {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
  }
  .dreamx11-a > section > h4 > span {
    font-size: 28px;
    transition: 1s;
  }
  .dreamx11-a > section > h4 > span:hover {
    font-size: 35px;
    transition: 1s;
  }
  .dreamx11-a > section > p {
    font-size: 18px;
    text-align: center;
  }
  .dreamx11-img {
    position: absolute;
    height: 800px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  

  .gpu-a {
    position: relative;
    width: 100%;
    height: 800px;
  }
  
  .gpu-a > section > h5 {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 1%;
    left: 10%;
  }
  .gpu-a > section > a {
    position: absolute;
    top: 12%;
    left: 10%;
  }
  .gpu-img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 800px;
    width: 100%;
  }
  .more {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 1s;
  }
  .more:hover{
    font-size: 28px;
    transition: 1s;
  }
  @media only screen and (min-width: 1025px) { /*only desktop*/
    .Oni13-img-mobile {
      display: none;
    }
    .winter-img{
      position: absolute;
      height: 80%;
      left: 50%;
      top: 10%;
      transform: translate(-50%, 0%);
      width: auto;
    }
  }


  @media only screen and (max-width: 1025px) { /*mobile*/
    .winter-sales-a {
      display: inline-block;
      text-align: center;
      width: 100%;
      height: 682px;
      margin-top: 70px;
      
      background: conic-gradient(
        from -44.57deg at 131.07% 133.06%,
        rgba(255, 255, 255, 0.65) -37.74deg,
        #ffffff 22.02deg,
        rgba(255, 255, 255, 0.65) 322.26deg,
        #ffffff 382.02deg
      );
      box-shadow: 0px 4px 21px rgba(255, 255, 255, 0.25);
      border-radius: 64px;
    }
    .winter-sales-a > header > h1 {
      font-weight: bold;
      font-size: 30px;
      line-height: 44px;
      text-align: center;
      color: #be9cf5;
      text-shadow: 0px 4px 7px var(--shadow);
      padding-top: 10px;
    }
    .winter-sales-a > header > p {
      text-align: center;
      color: var(--primary);
      text-shadow: 0px 4px 11px var(--shadow);
    }

    
    .oni13-a {
      position: relative;
      margin-top: 20px;
      width: 100%;
      height: 379px;
      background: linear-gradient(.25turn, var(--primary) 10%, white);
      box-shadow: 0px 8px 6px 2px var(--shadow);
      border-radius: 28px;
    }
    .left-sec {
      width: 30%;
      text-align: left;
    }
    .right-section {
      margin-right: 5px;
      width: 68%;
      text-align: right;
      height: 100%;
      margin-right: 2%;
      color: var(--lightSecondary);
      font-size: 2vh;
    }
    .find-out-more {
      margin-top: 15px;
      text-align: right;
      width: 100%;
      height: 200px;
      color: var(--primary);
      border-radius: 30px;
      font-size: 20px;
      font-weight: 550;
    }
    .find-out-more > a {
      text-decoration: none;
      transition: 1s;
    }
    .find-out-more > a:hover {
      font-size: 3vh;
      transition: 1s;
    }
    .footer-article {
      margin-top: 40px;
      font-weight: bold;
    }
    .oni13-a > section > h2 > span {
      font-size: 5vh;
    }
    .Oni13-img {
      display: none;
    }
    .Oni13-img-mobile {
      position: absolute;
      /* height: 379px; */
      left: 0%;
      top: 0px;
      height: 100%;
      max-width: 100%;
      border-radius: 28px;
      object-fit: cover;
    }
    
  
    .omni-music-a {
      position: relative;
      height: 372px;
      width: 100%;
      margin-top: 10px;
      background: conic-gradient(
        from 120deg at 0% 0%,
        #e5d6ff 0deg,
        #fafafb 286.87deg,
        #ffffff 359.78deg,
        #e5d6ff 360deg
      );
      box-shadow: 0px 1px 23px 5px var(--shadow);
      border-radius: 29px 29px 0px 0px;
    }
    .omni-music-a > section {
      width: 80%;
      text-align: right;
      color: var(--lightSecondary);
    }
    .omni-music-a > section > h3 {
      font-size: 22px;
      margin-bottom: 10px;
    }
    .product-name {
      text-decoration: none;
      font-weight: bold;
      transition: 1s;
      font-size: 30px;
    }
    .product-name:hover {
      font-size: 40px;
      transition: 1s;
    }
    .omni-music-img {
      position: absolute;
      bottom: 0px;
      left: 0px;
      max-width: 100%;
      max-height: 70%;
      height: auto;
      width: auto\9;
    }
    
  
  
    .dreamx11-a {
      position: relative;
      width: 100%;
      height: 400px;
      background-color: black;
      box-shadow: 0px -6px 9px 5px var(--shadow);
      color: white;
      filter: drop-shadow(0px 21px 12px var(--shadow));
    }
    .dreamx11-a > section {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      text-align: center;
    }
    .dreamx11-a > section > h4 > span {
      font-size: 28px;
      transition: 1s;
    }
    .dreamx11-a > section > h4 > span:hover {
      font-size: 35px;
      transition: 1s;
    }
    .dreamx11-a > section > p {
      font-size: 18px;
      text-align: center;
    }
    .dreamx11-img {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
    
  
    .gpu-a {
      position: relative;
      width: 100%;
      height: 400px;
    }
    .gpu-a > section > h5 {
      color: white;
      font-size: 24px;
      position: absolute;
      top: 1%;
      left: 10%;
    }
    .gpu-a > section > a {
      position: absolute;
      top: 2%;
      left: 10%;
    }
    .gpu-img {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0%);
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
    .more {
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: 1s;
    }
    .more:hover{
      font-size: 28px;
      transition: 1s;
    }
  }