.winter-sales-a {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 682px;
  
    background: conic-gradient(
      from -44.57deg at 131.07% 133.06%,
      rgba(255, 255, 255, 0.65) -37.74deg,
      #ffffff 22.02deg,
      rgba(255, 255, 255, 0.65) 322.26deg,
      #ffffff 382.02deg
    );
    box-shadow: 0px 4px 21px rgba(255, 255, 255, 0.25);
    border-radius: 64px;
  }
  
  .winter-sales-a > header > h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #be9cf5; /*GUARDAMIIIIIIIIIACNOIVNSDOINSDOINSDOVSDOIVN*/
    text-shadow: 0px 4px 7px var(--shadow);
    padding-top: 10px;
  }
  
  .winter-sales-a > header > p {
    text-align: center;
    color: var(--primary);
    text-shadow: 0px 4px 11px var(--shadow);
  }
  
  .oni13-a {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 379px;
  
    background-color: white;
    box-shadow: 0px 8px 6px 2px var(--shadow); /*aggiungi UNA VAR PER ME*/
    border-radius: 28px;
  }
  
  .oni13-a > header {
    text-align: right;
    color: var(--lightSecondary);
  }
  
  .oni13-a > header > h2 {
    position: absolute;
    left: 50%;
    top: 5px;
    right: 10px;
  }
  
  .Oni13-img {
    position: absolute;
    height: auto;
    width: auto\9;
    /*OPZIONE 1*/
    top: 0px;
    right: 35%;
    bottom: 0px;
    max-height: 100%;
  }
  
  .omni-music-a {
    position: relative;
    height: 372px;
    width: 100%;
    margin-top: 10px;
  
    background: conic-gradient(
      from 120deg at 0% 0%,
      #e5d6ff 0deg,
      #fafafb 286.87deg,
      #ffffff 359.78deg,
      #e5d6ff 360deg
    );
    box-shadow: 0px 1px 23px 5px var(--shadow);
    border-radius: 29px 29px 0px 0px;
  }
  
  .omni-music-a > header {
    text-align: right;
    color: var(--lightSecondary);
  }
  
  .omni-music-a > header > h3 {
    position: absolute;
    left: 50%;
    top: 0px;
    right: 10px;
  }
  
  .omni-music-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    /*OPZIONE 2*/
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto\9;
  }
  
  .dreamx11-a {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: black;
    box-shadow: 0px -6px 9px 5px var(--shadow);
    color: white;
    filter: drop-shadow(0px 21px 12px var(--shadow));
  }
  
  .dreamx11-a > header > h4 {
    position: absolute;
    font-size: 28px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 33px;
  }
  
  .dreamx11-a > header > p {
    position: absolute;
    font-size: 18px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .dreamx11-img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    /*OPZIONE 2*/
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto\9;
  }
  
  .gpu-a {
    position: relative;
    width: 100%;
    height: 400px;
  }
  
  .gpu-a > header > h5 {
    color: white;
    position: absolute;
    top: 1%;
    left: 10%;
    right: 10%;
    text-align: center;
  }
  
  .gpu-a > header > h6 {
    color: white;
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    text-align: center;
  }
  
  .gpu-img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    max-height: 100%;
    height: auto;
    width: auto\9;
  }