.bigTitle {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: var(--primary);
  padding: 0 10%;
  width: 80%;
  margin: 0, 0, 30px, 0;
}
.form-label {
  display: inline-block;
  text-align: left;
  width: 100%;
  color: var(--lightSecondary);
  align-items: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  max-width: 500px;
}
.simpleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-input {
  color: var(--secondary);
  background: var(--traslucentPrimary);
  border-radius: 4px;
  width: 97%;
  height: 40px;
  border: 2px solid var(--traslucentPrimary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  max-width: 500px;
  padding-left: 10px;
  box-sizing: border-box;
}

.box-input::placeholder {
  color: var(--primary);
}

.box-input:focus {
  border: 2px solid var(--primary);
}

.fullHeight {
  height: 100%;
}
.softButton {
  display: inline;
  text-align: center;
  background: var(--traslucentPrimary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid transparent;
  border-radius: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--lightSecondary);
  max-width: 400px;
  min-width: 100px;
  width: 90%;
  margin: 20px 4%;
  padding: 10px 0;
  transition: 0.4s;
}
.softButton:hover {
  background-color: rgba(159, 150, 175, 0.42);
}
.softButton:focus {
  border: 3px solid rgba(67, 49, 97, 0.58);
  box-sizing: border-box;
  border-radius: 8px;
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 34px;
  margin: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.saturatedText {
  display: inline-block;
  color: var(--saturatedPrimary);
  font-size: clamp(12px, 4vw, 22px);
  text-align: left;
  vertical-align: middle;
  line-height: 1;
  width: 50%;
}
.saturatedText > strong {
  font-style: bold;
  color: var(--saturatedPrimary);
  font-size: clamp(12px, 4vw, 22px);
  line-height: 1;
}
.passwordEye {
  margin-left: -35px;
  vertical-align: middle;
  color: var(--primary);
  cursor: pointer;
}
.container {
  position: relative;
}
