.signUpTitle {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: var(--primary);
  padding: 0 10%;
  width: 80%;
  margin: 0, 0, 30px, 0;
}

.form {
  margin: 20px;
  padding: 12px;
  background: var(--traslucentPrimary);
  border-radius: 4px;
  width: 80%;
  max-width: 400px;
  border: 2px solid var(--traslucentPrimary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.form::placeholder {
  color: var(--primary);
}

.form:focus {
  border: 2px solid var(--primary);
}

.fullHeight {
  height: 100%;
}
.softButton {
  background: var(--traslucentPrimary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid transparent;
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--lightSecondary);
  max-width: 330px;
  min-width: 200px;
  margin: 20px 0;
  padding: 10px 0;
  text-shadow: 0px 4px 17px var(--saturatedPrimary);
}

.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.fullWidth {
  width: 100%;
}

.p-20l {
  padding-left: 20px;
}

.center {
  text-align: center;
}

.passwordEye {
  position: absolute;
  top: 170px;
  right: 9%;
}

.container {
  position: relative;
}
