.form-label {
  display: inline-block;
  text-align: left;
  width: 100%;
  color: var(--lightSecondary);
  align-items: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  max-width: 500px;
}
.simpleForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-input {
  color: var(--secondary);
  background: var(--traslucentPrimary);
  border-radius: 4px;
  width: 97%;
  height: 40px;
  border: 2px solid var(--traslucentPrimary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  max-width: 500px;
  padding-left: 10px;
  box-sizing: border-box;
}

.box-input::placeholder {
  color: var(--primary);
}

.box-input:focus {
  border: 2px solid var(--primary);
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 34px;
  margin: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 0;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.passwordEye {
  margin-left: -35px;
  vertical-align: middle;
  color: var(--primary);
  cursor: pointer;
}
.container {
  position: relative;
}
