.inter {
  font-family: Inter;
}
.simpleBack {
  margin-top: 120px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2% 2% 90px 2%;
  background: linear-gradient(
    180deg,
    rgba(182, 157, 224, 0.02) 0%,
    #ffffff 0.48%
  );

  color: var(--lightSecondary);
  box-shadow: 0px 8px 6px 2px rgba(0, 0, 0, 0.25);
  border: 8px solid transparent; /*2*/
  /*3*/
  background-clip: padding-box;
  border-radius: 33px;
  border-width: 11px;
  max-width: 1300px;
  width: 100%;
}

.m-100-80 {
  margin: 100px 0 80px 0;
}

.simpleBack::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(to bottom, #b69de0 30%, #433161 100%) 100%;
  content: "";
  z-index: -1;
  border-radius: 33px;
}

.reviewStar {
  margin: 5px;
}

.productImage {
  display: inline-block;
  text-align: center;
  width: 90%;
  height: 90%;
  max-width: 350px;
}

hr.separator {
  border: 1px solid;

  border-image-source: radial-gradient(
    farthest-corner at 100px 40px,
    rgba(67, 49, 97, 0.47) 100%,
    rgba(242, 241, 244, 0.966823) 100%
  );

  margin: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.briefDesc {
  color: var(--lightSecondary);
  padding: 10px;
  font-size: clamp(16px, 4vw, 20px);
}

.italic-footer {
  font-style: italic;
  font-weight: 100;
  font-size: 15px;
}

.priceList {
  list-style-type: none;
  text-align: center;
  padding: 0;
  max-width: 500px;
  width: 100%;
  display: inline-block;
}

.priceListItem {
  padding: 2px 0;
  text-align: left;
}

.priceItem {
  padding-left: 5%;
  text-align: left;
  display: inline;
  color: var(--lightSecondary);
  align-items: left;
  font-weight: bold;
  font-size: clamp(16px, 4vw, 20px);
  line-height: 22px;
}

.normalPriceNumber {
  float: right;
  text-align: left;
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(16px, 4vw, 18px);
  line-height: 18px;
  margin: 0;
  padding-right: 6%;
}

.normalPriceNumber > em {
  font-size: clamp(14px, 4vw, 16px);
  font-style: normal;
}

.lineThroughNumber {
  text-decoration-line: line-through;
}

.finalPriceNumber {
  display: inline;
  float: right;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--saturatedPrimary);
  margin: 0;
  padding-right: 8%;
}
.finalPriceNumber > em {
  font-size: 18px;
  font-style: normal;
}

.smallSubTitle {
  font-weight: bold;
  font-size: 16px;
  color: var(--lightSecondary);
}

.simpleText {
  color: var(--lightSecondary);
  font-weight: 300;
  font-size: clamp(14px, 4vw, 18px);
  line-height: 18px;
  margin: 10px 0;
  padding: 0 20px;
}
.simpleTextLeft {
  text-align: left;
  padding: 10px;
}

.tableSection {
  padding: 0 20px;
}
.detailsTable {
  border: 1px solid rgba(67, 49, 97, 0.49);
  border-radius: 14px;
  padding: 10px;
  margin: 0;
}
.review {
  background: #ffffff;
  border: 1px solid var(--lightSecondary);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  margin: 20px 0;
}
.reviewText {
  padding: 0 10px 0 80px;
  margin: 0;
}
.reviewUserIcon {
  padding: 20px 30px 0 10px;
  float: left;
}
.reviewVote {
  padding: 15px 15px 0 0;
}
.smallReviewStar {
  display: inline-block;
  margin: 1px;
  width: 18px;
  height: 18px;
}

.reviewFooter {
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  padding: 10px;
}

.squareRoundButton {
  background: linear-gradient(
    180deg,
    rgba(190, 156, 245, 0.23) 0%,
    #e5d6ff 100%,
    #e5d6ff 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: -var(--lightSecondary);
  width: 90%;
  padding: 10px 0;
  text-shadow: 0px 4px 17px #ad7cff;
}

.squareRoundButton:hover,
.cartButton:hover {
  opacity: 0.5;
}
