.inter {
  font-family: Inter;
}
.simpleBack {
  margin-top: 120px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2% 2% 90px 2%;
  background: linear-gradient(
    180deg,
    rgba(182, 157, 224, 0.02) 0%,
    #ffffff 0.48%
  );

  color: var(--lightSecondary);
  box-shadow: 0px 8px 6px 2px rgba(0, 0, 0, 0.25);
  border: 8px solid transparent; /*2*/
  /*3*/
  background-clip: padding-box;
  border-radius: 33px;
  border-width: 11px;
  max-width: 1300px;
  width: 100%;
}

.m-100-80 {
  margin: 100px 0 80px 0;
}

.simpleBack::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(to bottom, #b69de0 30%, #433161 100%) 100%;
  content: "";
  z-index: -1;
  border-radius: 33px;
}

.reviewStar {
  margin: 5px;
}

.productImage {
  display: inline-block;
  text-align: center;
  position: relative;
  max-width: 280px;
  max-height: 280px;
}

hr.separator {
  border: 1px solid;

  border-image-source: radial-gradient(
    farthest-corner at 100px 40px,
    rgba(67, 49, 97, 0.47) 100%,
    rgba(242, 241, 244, 0.966823) 100%
  );

  margin: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.briefDesc {
  color: var(--lightSecondary);
  padding: 10px;
  font-size: clamp(16px, 4vw, 20px);
  width: 100%;
  text-align: center;
}

.italic-footer {
  font-style: italic;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
}

.priceList {
  list-style-type: none;
  text-align: center;
  padding: 0;
  max-width: 500px;
  width: 100%;
  display: inline-block;
}

.priceListItem {
  padding: 2px 0;
  text-align: left;
}

.priceItem {
  padding-left: 5%;
  text-align: left;
  display: inline;
  color: var(--lightSecondary);
  align-items: left;
  font-weight: bold;
  font-size: clamp(16px, 4vw, 20px);
  line-height: 22px;
}

.normalPriceNumber {
  float: right;
  text-align: left;
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(16px, 4vw, 18px);
  line-height: 18px;
  margin: 0;
  padding-right: 6%;
}

.normalPriceNumber > em {
  font-size: clamp(14px, 4vw, 16px);
  color: var(--lightSecondary);
  font-style: normal;
}

.lineThroughNumber {
  text-decoration-line: line-through;
}

.finalPriceNumber {
  display: inline;
  float: right;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--saturatedPrimary);
  margin: 0;
  padding-right: 8%;
}
.finalPriceNumber > em {
  font-size: 18px;
  font-style: normal;
}

.smallSubTitle {
  font-weight: bold;
  font-size: 16px;
  color: var(--lightSecondary);
  text-align: center;
}

.simpleText {
  color: var(--lightSecondary);
  font-weight: 300;
  font-size: clamp(14px, 4vw, 18px);
  line-height: 18px;
  margin: 10px 0;
  padding: 0 20px;
}
.simpleText > strong {
  font-style: bold;
  font-size: clamp(16px, 4vw, 18px);
}
.simpleTextLeft {
  text-align: left;
  padding: 10px;
}

.tableSection {
  padding: 0 20px;
}
.detailsTable {
  border: 1px solid rgba(67, 49, 97, 0.49);
  border-radius: 14px;
  padding: 10px;
  margin: 0;
}
.review {
  background: #ffffff;
  border: 1px solid var(--lightSecondary);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  margin: 20px 0;
}
.reviewText {
  padding: 0 10px 0 80px;
  margin: 0 2%;
}
.reviewUserIcon {
  padding: 20px 20px 0 10px;
  width: 100px;
  height: auto;
  float: left;
}
.reviewVote {
  padding: 10px 10px 0 10px;
}
.smallReviewStar {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.reviewFooter {
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
  line-height: 15px;
  padding: 10px;
}

.squareRoundButton {
  background: linear-gradient(
    180deg,
    rgba(190, 156, 245, 0.23) 0%,
    #e5d6ff 100%,
    #e5d6ff 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: -var(--lightSecondary);
  width: 90%;
  padding: 10px 0;
  text-shadow: 0px 4px 17px #ad7cff;
}

.squareRoundButton:hover,
.cartButton:hover {
  opacity: 0.5;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: inline-block;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 70%; /* Full-width */
  height: 25px; /* Specified height */
  background: var(--lightButtons); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--saturatedPrimary); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--saturatedPrimary); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.writeReviewTitle {
  color: var(--secondary);
  background: var(--traslucentPrimary);
  border-radius: 4px;
  width: 97%;
  height: 40px;
  border: 2px solid var(--traslucentPrimary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  max-width: 500px;
  padding-left: 10px;
  box-sizing: border-box;
}

.writeReviewTitle::placeholder {
  color: var(--primary);
}

.writeReviewTitle:focus {
  border: 2px solid var(--primary);
}
.writeReviewArea {
  color: var(--secondary);
  background: var(--traslucentPrimary);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  border: 2px solid var(--traslucentPrimary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  padding: 10px;
  max-width: 500px;
  min-width: 300px;
  min-height: 100px;
  padding-left: 10px;
  box-sizing: border-box;
}

.writeReviewArea::placeholder {
  color: var(--primary);
}

.writeReviewArea:focus {
  border: 2px solid var(--primary);
}

@media screen and (min-width: 768px) {
  .pricePart {
    display: inline-block;
    width: 100%;
  }
  .descriptionPart {
    display: inline-block;
  }
  .secondPart {
    display: inline-block;
    text-align: right;
    width: 60%;
  }
  .priceList {
    max-width: 800px;
  }
  .reviewVote {
    padding-top: 20px;
    padding-right: 5%;
  }
  .writeReviewVote {
    padding: 0;
    width: 70%;
    display: inline-block;
  }
  .finalPriceNumber {
    padding-right: 18%;
  }
  .normalPriceNumber {
    padding-right: 16%;
  }
  .priceItem {
    padding-left: 16%;
  }
}

@media screen and (min-width: 960px) {
  .secondPart {
    margin-left: 5%;
  }
  .slider {
    width: 20%;
  }
}
