.profileModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.profileModal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  top: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 70%;
  max-width: 800px;
  font-family: Inter;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.profileIcon {
  width: 80px;
  height: 80px;
}
.accordion {
  background: rgba(229, 214, 255, 0.42);
  border: 5px solid transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 95%;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.accountAccordion {
  background: none;
  cursor: pointer;
  padding: 5px;
  width: 75%;
  border: 2px solid transparent;
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.4s;
}
.accountAccordion:hover {
  background-color: rgba(159, 150, 175, 0.089);
}

.accordion:hover {
  background-color: rgba(159, 150, 175, 0.42);
}
.active {
  border: 5px solid rgba(67, 49, 97, 0.58);
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
}
.activeAlt {
  box-sizing: border-box;
  border-radius: 16px;
}
.accordion:after {
  content: url("../img/openArrow.png");
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  padding-top: 5px;
  vertical-align: -50%;
}
.accountAccordion:after {
  content: url("../img/openArrow.png");
  color: #777;
  float: right;
  margin-left: 5px;
  vertical-align: -50%;
}

.active:after,
.activeAlt:after {
  vertical-align: -50%;
  padding: 0 5px 0 0;
  content: url("../img/closeArrow.png");
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordionList {
  list-style: none;
  padding: 0;
}

.accordionBack {
  background: rgba(229, 214, 255, 0.35);
  border: 1px solid #be9cf59d;
  box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
}
.paymentMethod {
  display: inline-block;
  background: rgba(229, 214, 255, 0.35);
  border: 1px solid #be9cf5;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px 10px;
  width: 90%;
  height: 84px;
}
strong {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  align-items: center;

  color: #433161;
}

.priceItalic {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;

  color: #a187ce;

  text-shadow: 0px 4px 4px #ffffff;
}

.lightText {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  color: #433161;
}

.middleText {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  align-items: center;
  text-align: center;
}

.lightTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  margin: 10px 0;
  color: #37284f;

  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.hardButton {
  background: #be9cf5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 2px transparent;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 25px;
  min-width: 180px;
  max-width: 500px;
  color: #37284f;
  border: none;
  transition: 0.4s;
}
.bigHardButton {
  background: #be9cf5;
  border-radius: 5px;
  border: 2px transparent;
  font-family: Inter;
  font-size: 28px;
  line-height: 19px;
  display: inline-block;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 50px;
  min-width: 180px;
  color: #37284f;
  border: none;
  box-shadow: 3px 8px 11px 1px rgba(0, 0, 0, 0.25);
  margin: -10px -15px -2% -15px;
  transition: 0.4s;
}
.bigHardButton:hover,
.hardButton:hover {
  transition: all 0.65s;
  box-shadow: 4px 10px 11px 1px #43316198;
  transform: scale(1.01);
}
.orderImage {
  display: inline-block;
  text-align: left;
  width: 40%;
  height: 40%;
  max-width: 150px;
}

.lightSaturatedText {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #a187ce;
  text-shadow: 0px 4px 4px #ffffff;
}

.orderMiddleText {
  vertical-align: middle;
  width: 50%;
  font-size: clamp(6px, 4vw, 20px);
  height: 40%;
  margin: 0;
  padding: 5% 0;
}
.orderMiddleText p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.coolButton {
  background: rgba(229, 214, 255, 0.42);
  border: 5px solid transparent;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 95%;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.coolButton img {
  width: 20px;
  height: 20px;
  padding-left: 10px;
}
.coolButton:hover,
.modalButton:hover {
  background-color: rgba(159, 150, 175, 0.42);
}
.coolButton:focus {
  border: 5px solid rgba(67, 49, 97, 0.58);
  box-sizing: border-box;
  border-radius: 8px;
}
.hardButton:focus,
.bigHardButton:focus,
.modalButton:hover {
  border: 2px solid rgba(67, 49, 97, 0.58);
  box-sizing: border-box;
  border-radius: 8px;
}

.bigSaturatedText {
  font-weight: bold;
  font-size: 34px;
  line-height: 50px;
  align-items: center;
  text-align: center;

  color: rgba(138, 111, 183, 0.87);
}
.bigSaturatedText > em {
  font-style: normal;
  font-size: 24px;
}
.middleSaturatedText {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--primary);
}

.lightBack {
  border: 18px solid;
  border-image: linear-gradient(to bottom, rgba(182, 157, 224, 0.58), #37284f)
    51.04% 100%;
  background: #ffffff;
  border-image: linear-gradient(to bottom, rgba(182, 157, 224, 0.58), #37284f) 1
    100%;
  margin-top: -40px;
  text-align: center;
}
.lightBackBorder-Alt {
  background: linear-gradient(
    180deg,
    rgba(182, 157, 224, 0.58) 51.04%,
    #37284f 100%
  );
  margin-top: -40px;
  display: inline-block;
  text-align: center;
  z-index: 0;
  width: 100%;
}
.lightBack-Alt {
  display: inline-block;
  background: #ffffff;
  text-align: center;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  min-height: 100%;
}
.lightBackBorder-Alt2 {
  border: 25px solid;
  border-image: linear-gradient(to bottom, rgba(182, 157, 224, 0.58), #37284f) 1
    100%;
  display: inline-block;
}
.lightBack-Alt2 {
  display: inline-block;
  background: #ffffff;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.floatingBack {
  display: inline-block;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  width: 97%;
  z-index: 10;
}
.littlePaymentIcon {
  width: 45px;
  height: 27px;
}
.simpleCross {
  vertical-align: middle;
  width: 20%;
  float: right;
  padding-top: 30px;
}

.numberPicker {
  width: 85%;
  text-align: center;
  padding: 10px;
  background-color: var(--traslucentPrimary);
  border: 2px solid var(--trascentPrimary);
  font-size: 18px;
  font-family: Inter;
  font-weight: bold;
  color: var(--secondary);
  transition: 0.15s;
}
.numberPicker:focus {
  border: 2px solid var(--primary);
  outline: none;
}
