.profileModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.profileModal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  top: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: auto;
  max-width: 800px;
  font-family: Inter;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.headerBack {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 2% 2% 90px 2%;
  background: linear-gradient(
    180deg,
    rgba(182, 157, 224, 0.02) 0%,
    #ffffff 0.48%
  );

  color: var(--lightSecondary);
  box-shadow: 0px 8px 6px 2px rgba(0, 0, 0, 0.25);
  border: 8px solid transparent; /*2*/
  /*3*/
  background-clip: padding-box;
  border-radius: 33px;
  border-width: 11px;
  max-width: 1300px;
  width: 100%;
}
.profileIcon {
  width: 80px;
  height: 80px;
}
.profileModalClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.paymentMethod {
  display: inline-block;
  background: rgba(229, 214, 255, 0.35);
  border: 1px solid #be9cf5;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px 10px;
  width: 90%;
  height: 84px;
}

.orderImage {
  display: inline-block;
  text-align: left;
  width: 40%;
  height: 40%;
  max-width: 150px;
}

.lightBack {
  padding-top: 110px;
  background: linear-gradient(
    180deg,
    rgba(182, 157, 224, 0.58) 51.04%,
    #37284f 100%
  );
  display: inline-block;
  text-align: center;
  z-index: 0;
  width: 100%;
  min-height: 100%;
}

.floatingBack {
  display: inline-block;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  width: 97%;
  height: 100%;
  z-index: 10;
}
.littlePaymentIcon {
  width: 45px;
  height: 27px;
}
.simpleCross {
  vertical-align: middle;
  width: 20%;
  float: right;
  padding-top: 30px;
}

.numberPicker {
  width: 85%;
  text-align: center;
  padding: 10px;
  background-color: var(--traslucentPrimary);
  border: 2px solid var(--trascentPrimary);
  font-size: 18px;
  font-family: Inter;
  font-weight: bold;
  color: var(--secondary);
  transition: 0.15s;
}
.numberPicker:focus {
  border: 2px solid var(--primary);
  outline: none;
}
.numberPicker::-webkit-outer-spin-button,
.numberPicker::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.numberPicker[type="number"] {
  -moz-appearance: textfield;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  border-radius: 5px;
  background-color: #be9cf5;
  padding: 4px 11px;
  font-size: 16px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #be9cf59d;
}

.makeAdminLbl {
  display: inline-block;
  text-align: left;
  width: 100%;
  color: var(--lightSecondary);
  align-items: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  max-width: 500px;
}
.makeAdminForm {
  color: var(--secondary);
  background: var(--traslucentPrimary);
  border-radius: 4px;
  width: 97%;
  height: 40px;
  border: 2px solid var(--traslucentPrimary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  max-width: 500px;
  padding-left: 10px;
  box-sizing: border-box;
}

.makeAdminForm::placeholder {
  color: var(--primary);
}

.makeAdminForm:focus {
  border: 2px solid var(--primary);
}

.violetBox {
  display: inline-block;
  background: rgba(229, 214, 255, 0.35);
  border: 1px solid #be9cf59d;
  box-sizing: border-box;
  border-radius: 7px;
  width: 80%;
  margin: 10px;
  padding: 10px;
}
/* Container needed to position the overlay. Adjust the width as needed */
.profileHeader {
  position: relative;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Make the image to responsive */
.image {
  width: 30%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the profileHeader and over the image */
.overlay {
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: +30%;
  right: 0;
  height: 100%;
  width: 40%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: white;
}

/* When you mouse over the profileHeader, fade in the overlay icon*/
.profileHeader:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-user:hover {
  color: #eee;
}
.addressInput {
  color: var(--secondary);
  background: var(--traslucentPrimary);
  border-radius: 4px;
  width: 97%;
  height: 40px;
  border: 2px solid var(--traslucentPrimary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  max-width: 500px;
  padding-left: 10px;
  box-sizing: border-box;
}

.addressInput::placeholder {
  color: var(--primary);
}

.addressInput:focus {
  border: 2px solid var(--primary);
}
.addressLabel {
  display: inline-block;
  text-align: left;
  width: 100%;
  color: var(--lightSecondary);
  align-items: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  max-width: 500px;
}
.addressButton {
  color: #aaa;
  font-size: 28px;
  cursor: pointer;
}
.addressText {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: var(--primary);
}
