.reviewText-page {
    width: 80%;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 10px;
}
.reviewTitle {
    width: 80%;
    margin-left: 15px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.nome-articolo {
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
main {
    margin-top: 40px;
}
.product-review-image {
    width: 100px;
    height: 100px;
}
.reviewVote{
    padding: 10px 10px 0 10px;
    float: left;
}

@media only screen and (min-width: 1025px) { /*desktop*/

    main {
        margin-top: 40px;
    }
    .product-review-image {
        width: 100px;
        height: 100px;
    }
    .reviewText-page {
        width: 80%;
        margin-left: 15%;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 20px;
    }
    .nome-articolo {
        font-weight: bold;
        margin-left: 15%;
        margin-bottom: 10px;
        padding-left: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .reviewTitle {
        width: 80%;
        margin-left: 15%;
        margin-top: 0;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .reviewVote{
        padding: 0px 10px 0 10px;
        float: right;
    }
}