@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap%22");

:root {
  --primary: #b69de0;
  --secondary: #37284f;
  --lightSecondary: #433161;
  --saturatedPrimary: #9564e6;
  --traslucentPrimary: #e5d6ff99;
  --buttons: #BE9CF5;
  --lightButtons : #D8C5F9;
  --shadow: #00000040;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.accent {
  color: var(--primary);
  font-weight: 2000;
  font-size: 30px;
}

body {
  margin: 130px 0px 0px 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  background: #37284f;
}




.navbar-bot {
  display: flex;
  align-items: center;

  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 0%);
  width: 80%;
  height: 10%;
  max-height: 90px;
  max-width: 450px;
  min-height: 80px;
  z-index: 5;
  border-radius: 500px;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(55, 40, 79, 0.97) 100%,
    #37284f 100%
  );
}
.bottom-nav-button {
  padding-top: 2%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 8%;
  max-height: 10%;
  max-width: 75%;
}
.bottom-nav-icon-img {
  width: auto\9;
  height: auto;
}



.navbar-top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 2;

  border: 1px solid black;
  background: radial-gradient(
    139.02% 189.45% at 48.25% 44.79%,
    #000000 0%,
    #37284f 100%
  );
  box-shadow: 0px 4px 5px 3px var(--shadow);
  border-radius: 0px 0px 15px 15px;
}
.button-top-logo {
  align-items: center;
  flex-grow: 2;
  padding-top: 5px;
}
.logo-img {
  width: 74px;
  height: 74px;
}




.button-top-notifications {
  align-items: flex-end;
  flex-grow: 1;
  z-index: 1;
  padding-right: 20px;
}
.notification-menu-img {
  width: 50px;
  height: 50px;
}
.check-notifications {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 22px;
  right: 18px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.notifications-list {
  position: fixed;
  height: 65%;
  width: 75%;
  top: 100px;
  right: 0%;

  margin-top: 0px;
  padding: 5%;

  overflow: auto;
  max-height: 1000px;
  display: block;

  text-align: left;
  background: linear-gradient(180deg, #37284F 0%, #000000 59.37%);
  /* box-shadow: 0px 4px 16px 16px rgba(0, 0, 0, 0.25); */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 0px 0px 0px 10px;

  transform-origin: 0% 0%;
  transform: translate(100%, 0%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.notification-dimensions {
  width: 90%;
  height: 15%;
}
.notification-elem {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  text-decoration: none;
  /* border: 1px solid white; */
  box-sizing: border-box;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;

}
.notification-img-product {
  float: left;
  height: 100px;
  width: auto\9;
  max-height: 98%;
  margin-right: 5px;
}
.notification-type {
  margin: 0;
  font-size: 16px;
}
.notification-status {
  font-size: 14px;
  margin-top: 0;
}
.notification-indicator {
  position: absolute;
  bottom: 3px;
  right: 50px;
  height: 16px;
  width: auto\9;
}
.notification-time {
  position: absolute;
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
  right: 5px;
  bottom: 3px;
}
.notification-elem:hover {
  color: var(--primary);
  transition: color 0.3s ease;
}
.button-top-notifications > input:checked ~ ul {
  transform: none;
}
.span-notifications-div {
  background-color: var(--lightSecondary);
  width: 90%;
  margin-right: 0px;
  margin-left: 0px;
}
.notification-img {
  float: left;
  width: auto;
  height: auto\9;
  max-width: 25%;
}




.left-menu {
  align-items: flex-start;
  flex-grow: 1;
  display: inline-block;
  padding-left: 20px;
  z-index: 1;
}
.left-menu > input {
  display: block;
  width: 42px;
  height: 34px;
  position: absolute;
  top: 20px;
  left: 14px;

  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.left-menu > span {
  display: block;
  width: 40px;
  height: 4px;
  margin-bottom: 7px;
  position: relative;

  background: white;
  border-radius: 3px;

  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}
.left-menu > span:first-child {
  transform-origin: 0% 0%;
}
.left-menu > span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.left-menu > input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--primary); /*colore della x*/
}
.left-menu > input:checked ~ span:nth-last-child(3) {
  opacity: 1;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.left-menu > input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.unfolded-left-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  padding: 5% 5% 0% 5%;
  margin-top: 95px;
  max-height: min-content;
  
  overflow: auto;
  display: block;
  text-align: left;
  background: radial-gradient(
    139.02% 189.45% at 48.25% 44.79%,
    #000000 0%,
    #37284f 100%
  );
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /*serve per safari per mac, ma penso si possa togliere*/


  animation-name: animatetop;
  animation-duration: 1s;

/* 
  transform: translate(0%, -120%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);*/
}


/*da fixare questa cosa*/
@keyframes animatetop {
  from {
    top: -80px;
    opacity: 0;
  }
  to {
    top: 0%;
    opacity: 1;
  }
}



.unfolded-left-menu > li {
  padding-left: 0%;
  margin-top: 1%;
  font-size: 20px;
}
.unfolded-left-menu > li > a {
  text-decoration: none;
  color: white;
}
.unfolded-left-menu > li >a:hover {
  color: var(--primary);
  transition: color 0.3s ease;
}
.left-menu > input:checked ~ ul {
  transform: none;
}



.wrapper {
  position: relative;
  display: flex;
  width: 90%;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: auto\9;
  height: auto\9;
  max-width: 8%;
  max-height: 85%;
}
.search {
  width: 100%;
  font-size: 20px;
  border: 1px solid;
  border-color: var(--primary);
  border-radius: 8px;
  padding: 1.5% 1% 1.5% 1%;
  outline: 0;
  color: var(--saturedPrimary);
  background-color: var(--lightSecondary);
}
.search::placeholder {
  color: var(--primary)
}
/*
.clear-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  cursor: pointer;
  visibility: hidden;
}*/
.search:hover, .search:focus {
  background-color: var(--primary);
}

.span-menu-div {
  background-color: var(--lightSecondary);
  width: 90%;
  margin-left: 0px;
}
.span-menu-div:nth-last-of-type(1) {
  /* margin-bottom: 50%; */
}


.home-footer {
  width: 100%;
  font-weight: 200;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: white;
  padding: 20px 0;
  background: black;
}

.main {
  padding-top: 10000px;
  margin-bottom: 20px;
}

.winter-sales-a {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 682px;

  background: conic-gradient(
    from -44.57deg at 131.07% 133.06%,
    rgba(255, 255, 255, 0.65) -37.74deg,
    #ffffff 22.02deg,
    rgba(255, 255, 255, 0.65) 322.26deg,
    #ffffff 382.02deg
  );
  box-shadow: 0px 4px 21px rgba(255, 255, 255, 0.25);
  border-radius: 64px;
}

.winter-sales-a > header > h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #be9cf5; /*GUARDAMIIIIIIIIIACNOIVNSDOINSDOINSDOVSDOIVN*/
  text-shadow: 0px 4px 7px var(--shadow);
  padding-top: 10px;
}

.winter-sales-a > header > p {
  text-align: center;
  color: var(--primary);
  text-shadow: 0px 4px 11px var(--shadow);
}

.oni13-a {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 379px;

  background-color: white;
  box-shadow: 0px 8px 6px 2px var(--shadow); /*aggiungi UNA VAR PER ME*/
  border-radius: 28px;
}

.oni13-a > header {
  text-align: right;
  color: var(--lightSecondary);
}

.oni13-a > header > h2 {
  position: absolute;
  left: 50%;
  top: 5px;
  right: 10px;
}

.Oni13-img {
  position: absolute;
  height: auto;
  width: auto\9;
  /*OPZIONE 1*/
  top: 0px;
  right: 35%;
  bottom: 0px;
  max-height: 100%;
}

.omni-music-a {
  position: relative;
  height: 372px;
  width: 100%;
  margin-top: 10px;

  background: conic-gradient(
    from 120deg at 0% 0%,
    #e5d6ff 0deg,
    #fafafb 286.87deg,
    #ffffff 359.78deg,
    #e5d6ff 360deg
  );
  box-shadow: 0px 1px 23px 5px var(--shadow);
  border-radius: 29px 29px 0px 0px;
}

.omni-music-a > header {
  text-align: right;
  color: var(--lightSecondary);
}

.omni-music-a > header > h3 {
  position: absolute;
  left: 50%;
  top: 0px;
  right: 10px;
}

.omni-music-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  /*OPZIONE 2*/
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto\9;
}

.dreamx11-a {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: black;
  box-shadow: 0px -6px 9px 5px var(--shadow);
  color: white;
  filter: drop-shadow(0px 21px 12px var(--shadow));
}

.dreamx11-a > header > h4 {
  position: absolute;
  font-size: 28px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 33px;
}

.dreamx11-a > header > p {
  position: absolute;
  font-size: 18px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dreamx11-img {
  position: absolute;
  bottom: 0px;
  left: 0px;
  /*OPZIONE 2*/
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto\9;
}

.gpu-a {
  position: relative;
  width: 100%;
  height: 400px;
}

.gpu-a > header > h5 {
  color: white;
  position: absolute;
  top: 1%;
  left: 10%;
  right: 10%;
  text-align: center;
}

.gpu-a > header > h6 {
  color: white;
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  text-align: center;
}

.gpu-img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  max-height: 100%;
  height: auto;
  width: auto\9;
}