@import url('https://fonts.googleapis.com/css2?family=Inter');

.pink{
  color: #B69DE0;
  font-weight: 800;
}

body {
  margin: 130px 0px 0px 0px;
  font-family: Inter;
  font-style: normal;
  background: #37284f;
}

.navbar-top {
  background: radial-gradient(
    139.02% 189.45% at 48.25% 44.79%,
    #000000 0%,
    #37284f 100%
  );
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 15px 15px;
  color: WHITE;
  text-align: center;

  z-index:1;
}

.main-logo {
  width: 74px;
  height: 74px;
  padding-top: 10px;
}

.dropmenu {
  padding-top: 25px;
  padding-left: 25px;
  float: left;
  width: 50px;
  height: 50px;
}

.notification-menu {
  padding-right: 25px;
  padding-top: 25px;
  float: right;
  width: 50px;
  height: 50px;
}

.home-footer {
  width: 100%;
  font-weight: 200;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background: #000000;
}

.main {
    padding-top: 10000px;
    margin-bottom: 20px;
}

.art-music {
    width: 100%;
    margin-top: -100px;
}



main > article:nth-child(1) {
  text-align: center;
  width: 100%;
  height: 682px;
  bottom: 0px;

  background: conic-gradient(from -44.57deg at 131.07% 133.06%, rgba(255, 255, 255, 0.65) -37.74deg, #FFFFFF 22.02deg, rgba(255, 255, 255, 0.65) 322.26deg, #FFFFFF 382.02deg);
  box-shadow: 0px 4px 21px rgba(255, 255, 255, 0.25);
  border-radius: 64px;
}

main > article:nth-child(1) > header >h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #BE9CF5;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
}

main > article:nth-child(1) > header > p {
font-weight: normal;
font-size: 20px;
line-height: 20px;
text-align: center;
margin-top: -15px;
color: #B69DE0;
text-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
}

main > article:nth-child(2) {
  margin-top: 20px;
  width: 100%;
  height: 379px;
  text-align: right;

  background-color: white;
  background-image: url(../img/Oni13.png);
  background-repeat:no-repeat;
  background-blend-mode: darken;

  box-shadow: 0px 8px 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
}

main > article:nth-child(2) > header {
  padding: 20px;
  font-size: 24px;
}

main > article:nth-child(2) > header > p {
  font-size: 20px;
  padding-left: 200px;
  color: #433161;
}

main > article:nth-child(3) {
  width: 100%;
  height: 372px;
  margin-top: 10px;
  text-align: right;

  /*DA CONTROLLARE IMPORTANTE I GRADI NON VANNO BENE*/

  background: conic-gradient(from 120deg at 0% 0%, #E5D6FF 0deg, #FAFAFB 286.87deg, #FFFFFF 359.78deg, #E5D6FF 360deg);
  box-shadow: 0px 1px 23px 5px rgba(0, 0, 0, 0.25);
  border-radius: 29px 29px 0px 0px;
  /*background-color: white;

  background-image: url(../img/music1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: darken;*/
}

main > article:nth-child(3) > header {
  text-align: left;
  padding: 20px 24px 0px 180px;
  color: #433161;
}

main > article:nth-child(4) {
  width: 100%;
  height: 453px;
  margin-top: -20px; /*WHI IN THE FUCKING WORLD*/

  background-color: black;
  background-image: url(../img/CAVA\ PHONE.png);
  background-repeat:no-repeat;
  background-position: center;
  
  box-shadow: 0px -6px 9px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #FFFFFF;
  filter: drop-shadow(0px 21px 12px rgba(0, 0, 0, 0.24));
}

main > article:nth-child(4) > header > h2 {
  font-size: 28px;
  padding-top: 20px;
  line-height: 33px;
}

main > article:nth-child(4) > header > p {
  font-size: 18px;
}

main > article:nth-child(5){
  width: 100%;
  height: 650px;
  margin-top: -20px;
  text-align: center;
  background-image: url(../img/scheda\ grafica.png);
}

main > article:nth-child(5) > header {
  color: #ffffff;
  padding: 20px 20px 0px 20px;
  font-size: 16px;
}